
header{
    justify-content: center;
    background-image: url(./Assets/16570.png);
    height: auto;
    margin: 0 auto;
    text-align: center;
}

header h1{
    margin: 0;
    color: black;
}

.recentCities{
    background-color: blue;
    color: white;
}

.weatherCard{
    background-color: pink;
}

li{
    list-style-type: none;
}

.forecast{
    display: flex;
    margin: 10px;
}

.currentWeather{
    margin: 10px;
}

.block{
    height: 250px;
    width: 175px;
    border-style: solid;
    margin: 5px;
}

.navbar{
    margin-top: 10px;
    background-color: blue;
    float: left;
}
