.jumbotron{
    justify-content: center;
    background-image: url(./Assets/header.png);
    height: auto;
    margin: 0 auto;
    text-align: center;
    color: rgb(40,167,69);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

body{
    background-color: rgb(52, 61, 77);
}

.recentCities{
    background-color: rgb(32, 32, 32);
    color: white;
}

#cityDiv,
.forecastCard{
    background-color: rgb(32, 32, 32);
    color: rgb(40, 167, 69);
}

#currentWeather,
.forecast{
    background-color: rgb(52, 61, 77);
}

li{
    list-style-type: none;
}

.card{
    text-align: center;
}

button{
    margin: 2px;
}

.low {
    color: #00e42a;
}
.high {
    color: #b80000;
}

.my-1{
    width: 100%;
}