.titleContainer{
    text-align: center;
    margin: 0;
}

header{
    background-image: url(./Assets/16570.png);
    height: 5em;
    position: relative;
    margin: 0 auto;
}

header h1{
    margin: 0;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.recentCities{
    background-color: blue;
}

.currentWeather{
    background-color: pink;
}

li{
    list-style-type: none;
}
